.chat-wrapper {
  max-width: 350px;
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 10px;
  z-index: 99;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chatHistory-icon {
  position: relative;
}

.chatHistory-icon p {
  position: absolute;
  top: 8px;
  right: -4px;
  font-size: 11px;
  background-color: #f9ff00;
  color: black;
  width: 18px;
  height: 18px;
  display: grid;
  place-content: center;
  border-radius: 50%;
  font-weight: 500;
}

.chat-header {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: transparent;
  background: transparent;
  position: relative;
}

span.close-icon img {
  width: 15px;
}

.chat-header .close-icon i {
  font-size: 20px;
}

.chat-header .close-icon {
  transition: all 0.5s;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 9;
}

i.fa.fa-sign-out {
  font-family: "FontAwesome";
}

.chat-content-box {
  height: 0;
}

form.form-inline {
  display: flex;
  gap: 4px;
}

.chat-wrapper.expand .chat-content-box {
  height: 176px;
}

.chat-content {
  transition: all 0.5s;
  background: #2a2a2a;
  padding: 20px;
  /* border: 1px solid #010101; */
  border-radius: 5px;
  position: relative;
}

.chat-content:before {
  content: "";
  /* background: url(../../assets/black.png); */
  background-repeat: repeat;
  background-position: center;
  background-size: auto;
  position: relative;
}

.chat-users::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.3);
  background-color: #191b25;
}

.chat-users::-webkit-scrollbar {
  width: 5px;
  background-color: #222530;
}

.chat-users::-webkit-scrollbar-thumb {
  background-color: #222530;
}

.chat-search.chat-input .form-inline .form-control {
  border: 1px solid #31374c;
  width: calc(100% - 38px);
  font-family: sans-serif;
  background: transparent;
  margin-left: -2px;
  color: #fff;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 38px;
}

.chat-search.chat-input .form-inline .form-control::placeholder {
  color: #848897;
}

.chat-search.chat-input .form-inline .form-control:focus {
  box-shadow: none;
}

.chat-search.chat-input .form-inline button,
.chat-search.chat-input .form-inline button:hover,
.chat-search.chat-input .form-inline button:focus {
  background: #f9ff00;
  color: #010101;
  font-size: 16px;
  width: 38px;
  height: 38px;
  border-color: #f9ff00;
  box-shadow: none;
  border: 1px solid #f9ff00;
  border-radius: 0.25rem;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.chat-logo img {
  max-width: 140px;
  margin: 0px auto;
  display: block;
}

.chat-search.chat-input {
  border-bottom: none;
  padding: 15px 0px;
}

.chat-back {
  width: 25px;
  height: 25px;
  background: #2b2929;
  text-align: center;
  line-height: 25px;
  border-radius: 100%;
  transition: all 0.5s;
  position: absolute;
  right: 50px;
  top: 20px;
  cursor: pointer;
}

.chat-back:hover {
  background: #b9a11e;
}

.triangle-isosceles.left {
  word-break: keep-all;
}

.start-game-btn p {
  text-align: center;
}

span.msg-limit {
  font-size: 10px;
  color: #848897;
  position: absolute;
  right: 24px;
  bottom: 15px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

/* chat history  */

.chatHistory-Container {
  position: fixed;
  top: 0%;
  left: calc(0% - 300px);
  width: 300px;
  height: 100vh;
  background: #2926219c;
  z-index: 99999;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
  border: 2px solid #1f070682;
  transition: all 0.3s ease;
  /* animation: expandHistory 0.3s ease; */
}

.chatHistory-Container.expand {
  left: 0%;
}

.chatHistory-header {
  position: relative;
  padding: 8px 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid #525252;
}

.chatHistory-header .Chatgame-logo {
  width: 66px;
}

.Chatgame-title {
  /* margin-top: 10px; */
  /* box-shadow: 0px 2px 6px rgb(165 165 0); */
  padding: 5px 10px;
  /* border-radius: 20px; */
  font-size: 18px;
  font-weight: 700;
  color: #f9ff00;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.Gameplayer-count {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.Gameplayer-count .greendot {
  background-color: rgb(0, 220, 0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.Gameplayer-count h4 {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  margin-bottom: 0px;
  color: rgb(193 193 193);
}

.Gameplayer-count h3 {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-bottom: -2px;
}

.playerComment-box {
  padding: 5px 10px;
  color: #fff;
  border-bottom: 1px solid #525252;
  background-color: rgba(34, 34, 34, 0.773);
}

.playerComment-box.playerSelfMssg {
  background: #0a0808;
  /* flex-direction: row-reverse; */
}

.chatHistory-comments {
  height: calc(100% - 54px);
  overflow-y: auto;
}

.playerComment-box img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
  margin-bottom: 6px;
}

.playerComment-box .playerName {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 600;
}

.playerComment-box p {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0px !important;
  word-break: break-all;
  margin-top: 4px;
  color: #b3b3b3;
}

.chatHistory-header .hamburger {
  height: 30px;
}

.chatHistory-header .hamburger .line {
  width: 20px;
  height: 2px;
  background-color: grey;
  margin: 5px auto;
  transition: all 0.3s ease;
}

.chatHistory-header .hamburger:hover {
  cursor: pointer;
}

.hamburger .line:nth-child(1),
.hamburger .line:nth-child(2) {
  width: 14px;
}

.hamburger .line:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger .line:nth-child(2) {
  transform: translateY(3px) rotate(-45deg);
}

.containerFor-chatHistory {
  position: fixed;
  top: 70px;
  left: -14px;
  cursor: pointer;
  z-index: 99;
  padding: 5px;
  border-radius: 50%;
}

.UsersCommentsBtns {
  background-color: #282828;
  color: #fff;
  padding: 10px 30px;
  font-size: 14px;
  border-radius: 0px 20px 20px 0px;
  border: 1px solid #282828;
}

.Chatgame-title span {
  font-size: 12px;
  color: #bcbcbc;
  font-weight: 500;
}

@media screen and (max-width: 1024px) {
  .chatHistory-Container {
    position: fixed;
    top: 0%;
    left: calc(0% - 250px);
    width: 250px;
  }

  .playerComment-box {
    gap: 6px;
  }

  .Gameplayer-count {
    margin-top: 8px;
  }

  .chatHistory-comments {
    height: calc(100% - 48px);
    overflow-y: auto;
  }

  .UsersCommentsBtns {
    padding: 8px 20px;
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .UsersCommentsBtns {
    padding: 8px 20px;
    font-size: 10px;
  }

  .containerFor-chatHistory {
    position: fixed;
    top: 50px;
  }

  .chatHistory-header {
    position: relative;
    padding: 5px;
  }

  .Chatgame-title {
    font-size: 14px;
  }

  .playerComment-box p {
    font-size: 10px;
  }

  .playerComment-box .playerName {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 600;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 991px) and (orientation: landscape) {
  .UsersCommentsBtns {
    padding: 8px 20px;
    font-size: 10px;
  }

  .containerFor-chatHistory {
    position: fixed;
    top: 50px;
  }
}

@media only screen and (min-device-width: 280px) and (max-device-width: 767px) and (orientation: portrait) {
  .containerFor-chatHistory {
    position: fixed;
    top: 48px;
  }

  #users-online-box {
    position: fixed;
    width: 220px;
    left: -222px;
    top: 100px;
  }

  #info-rules {
    top: -16px;
  }
}