.poker-home {
  position: relative;
  min-height: 100vh;
}

.create-game-box a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.userOnline-header p.userOnline-tooltip {
  display: none;
}

.userOnline-header:hover p.userOnline-tooltip {
  display: block;
  position: absolute;
  background: #2b2a2a;
  padding: 10px 15px;
  width: 140px;
  border-radius: 8px;
  top: 58px;
  right: -160px;
  font-size: 12px;
}

.tooltip-inner {
  margin-top: 10px;
  max-width: 200px;
  padding: 0.25rem 0.5rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  border-radius: 0.25rem;
  font-size: 10px !important;
  z-index: 999999999;
}

.backtoHome a {
  color: #f9ff00;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}

.player-wrapper-content {
  transform: translate(-50%, 4%);
}

.avatar img {
  border-radius: 50%;
  position: relative;
  left: -5px;
  margin-left: -15px;
  z-index: 1;
  object-fit: cover;
  width: 22px;
  height: 22px;
}

.casino-popup input .form-check-input {
  background-color: #141414 !important;
}

.avatars {
  direction: rtl;
  /* This is to get the stack with left on top */
  text-align: left;
  /* Now need to explitly align left */
  padding-left: 15px;
  /* Same value as the negative margin */
}

.poker-loader {
  position: absolute;
  background: #000000f5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.poker-loader img {
  width: 100px;
}

.home-poker-card-grid {
  display: grid;
  row-gap: 30px;
  column-gap: 20px;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.home-poker-content {
  position: relative;
  background: #141414;
  border: 1px solid #252525;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgb(72 72 72 / 20%);
  overflow: hidden;
}

.home-poker-cover img {
  width: 100%;
}

.home-poker-info {
  padding: 10px 15px;
}

.home-poker-info h4 {
  margin: 0;
  padding-bottom: 12px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.home-poker-info button {
  width: 100%;
  padding: 6px 12px;
  background: #f9ff00;
  border-radius: 30px;
  font-weight: 600;
  font-size: 12px;
  border: 1px solid #f9ff00;
}

.home-poker-card {
  margin-bottom: 80px;
  position: relative;
  padding-bottom: 40px;
}

.poker-table-content {
  background: #141414;
  padding: 30px;
  border-radius: 12px;
  margin-top: 20px;
  border: 1px solid #1f1e1e;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.lobby-home-title {
  display: inline-block;
  position: relative;
}

.lobby-home-title h3 {
  padding-top: 2px;
  padding-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #f9ff00;
  margin: 0;
  display: inline-block;
  position: relative;
}

.lobby-home-title h3::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 1px;
  background: #f9ff00;
  top: 40%;
  right: -40px;
}

.poker-avatar-box p {
  color: #ddd;
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
}

.poker-avatar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  flex-wrap: wrap;
}

.user-header {
  margin-bottom: 50px;
  padding: 5px 0px 5px;
  background: #141414;
  border-bottom: 1px solid #1f1e1e;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.user-header-grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info-box p {
  margin: 0;
  font-weight: 500;
  color: #ffffff;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
  position: relative;
}

.modal-backdrop.show {
  opacity: 0.7;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100vw;
  height: 100vh;
  background-color: #2d2d2d;
}

.create-game-box button {
  padding: 8px 20px;
  background: #f9ff00;
  border-radius: 30px;
  font-weight: 600;
  border: 1px solid #f9ff00;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  white-space: nowrap;
}

.user-info-box button {
  color: rgb(255, 255, 255) !important;
}

.backtoHome span {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 900;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  user-select: none;
}

.backtoHome svg {
  width: 22px;
  height: 22px;
  padding-bottom: 2px;
}

.casino-logo img {
  width: 130px;
}

.create-game-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.create-game-box h5 {
  color: #fff;
  padding: 2px 8px;
  margin-bottom: 0px;
  text-transform: lowercase;
}

.user-info-box {
  padding-right: 20px;
}

.user-info-box button {
  padding: 0px;
  height: 100%;
  background: transparent;
  border: none;
  margin-bottom: 4px;
}

.user-info-box button svg {
  margin-bottom: 4px;
  width: 14px;
  height: 14px;
}

.user-info-box .btn-success:hover,
.user-info-box .btn-success:active,
.user-info-box .btn-success:focus {
  color: #fff;
  background-color: transparent;
  border-color: none !important;
  box-shadow: none !important;
}

.fade.bs-tooltip-end {
  font-size: 10px;
  /* background-color: rgb(62, 62, 62); */
}

.user-info-box h5 {
  text-transform: capitalize;
  font-size: 18px;
  margin: 0;
  padding-bottom: 3px;
  color: #fff;
}

.user-info-box p i {
  color: #f9ff00;
}

.casino-popup .modal-content {
  background: #141414;
  border-color: #141414;
  box-shadow: 0px 2px 10px #141414;
}

.casino-popup .modal-header {
  border-bottom: 1px solid #000;
  align-items: center;
  padding: 1rem 2rem;
}

.casino-popup .modal-body {
  padding: 1rem 2rem;
}

.casino-popup .modal-footer {
  border-top: 1px solid #000;
  align-items: center;
  padding: 1rem 2rem;
}

.casino-popup .modal-header .modal-title.h4 {
  color: #ddd !important;
  font-weight: 700;
  font-size: 24px;
}

.casino-popup .modal-header button.close {
  color: #fff;
  font-weight: 100;
  text-shadow: none;
  margin: 0;
  padding: 0;
  font-size: 30px;
}

.casino-popup .form-control,
.casino-popup .form-control:focus {
  background: #000;
  border: 1px solid #000;
  color: #ddd;
  border-radius: 30px;
  padding: 8px 20px;
  box-shadow: 0 2px 10px #000000a5;
  font-size: 16px;
}

.css-tj5bde-Svg {
  display: inline-block;
  /* fill: #858585c7 !important; */
}

.css-9jq23d,
.css-wsp0cs-MultiValueGeneric {
  color: #e7e7e7 !important;
}

.casino-popup .text-danger {
  margin: 0px 10px;
}

.casino-popup .form-group {
  margin-bottom: 16px;
}

.modal-footer .btn,
.modal-footer .btn:focus,
.modal-footer .btn:active {
  padding: 8px 20px;
  background: #f9ff00 !important;
  border-color: #f9ff00 !important;
  border-radius: 30px;
  font-weight: 600;
  color: #000 !important;
  box-shadow: none !important;
  height: 40px;
  width: 150px;
  display: grid;
  place-content: center;
}

.casino-popup .form-control::placeholder {
  color: #858585c7;
  font-size: 14px;
}

.modal-footer .btn.btn-secondary {
  background-color: #343a40 !important;
  border-color: #343a40 !important;
  color: #ddd !important;
}

.blindpopupField {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.css-1rhbuit-multiValue {
  background-color: hsl(0deg 0% 16%) !important;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 2px;
  min-width: 0;
  color: #fff;
  box-sizing: border-box;
}

.css-12jo7m5 {
  color: #fff !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.createGameCheckHand {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.no-room-available {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #141414;
  border-radius: 12px;
  padding: 50px;
  width: 100%;
}

.casino-popup .form-label {
  margin-bottom: 0.5rem;
  color: #ddd !important;
}

.casino-popup label {
  display: inline-block;
  color: #ddd !important;
  font-size: 16px;
  font-weight: 500;

}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0px !important;
  vertical-align: top;
  background-color: #ffffffbd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, .25);
  appearance: none;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}

.form-check-inline {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  gap: 10px;
}

.no-room-available h4 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 30px;
  color: #fff;
}

.createGameCheckHand .form-check-input:checked {
  background-color: #f9ff00;
  border-color: #f9ff00;
}

.createGameCheckHand .form-check-input:checked[type="checkbox"] {
  background-image: url(../../imgs/blackjack/tick.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.ticket-icon {
  width: 40px;
  object-fit: contain;
  height: 25px;
}

.create-game-box-avtar h5 {
  margin-bottom: 0px !important;
  font-size: 16px;
  font-weight: 600;
  margin-top: 2px;
}

.create-game-box-avtar img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  object-fit: cover;
}

.create-game-box-avtar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 8px 0px;
}

.slotLobby-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding: 8px;
  color: #fff;
}

.slotLobby-mode p {
  font-size: 14px;
  font-weight: 600;
  margin: 0px;
  padding-right: 24px;
}

.slotLobby-mode .mode-labels {
  display: flex;
  align-items: center;
  gap: 4px;
}

.slotLobby-mode h6 {
  margin-bottom: 0px;
  margin-top: 4px;
  cursor: pointer;
  font-size: 17px;
  font-weight: 600;
}

.slotLobby-mode form.formMode {
  margin: 0px 0px 0px 2px;
  width: 52px;
}
.slotLobby-mode .form-switch .form-check-input {
  width: 50px;
  height: 26px;
  border-radius: 30px;
  pointer-events: all;
  background-color: #fff;
}

.slotLobby-mode .custom-switch .custom-control-label::after {
  top: 4px;
  margin-left: 2px;
  width: 18px;
  height: 18px;
  background-color: #adb5bd;
  border-radius: 50%;
  transition: transform .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.slotLobby-mode .custom-switch .custom-control-input:checked~.custom-control-label::after {
  background-color: #444242;
  transform: translateX(24px);
}

.slotLobby-mode .form-check-input:checked {
  color: #2a2a2a;
  border-color: #f9ff00;
  background-color: #f9ff00;
}

.slotLobby-mode .custom-control-label::before {
  position: absolute;
  top: 0px;
}
.form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%27-4 -4 8 8%27%3e%3ccircle r=%273%27 fill=%27%23000%27/%3e%3c/svg%3e");
}

/******* ticket to otken *************/
.ticket-token-modal .modal-content {
  border: 1px solid #202020;
  max-width: 400px;
  margin: 0px auto;
  background: rgb(42 42 42);
  padding: 30px 20px;
  position: relative;
  border-radius: 5px;
}
.ticket-token-modal .ticket-to-token-popup h6:first-child {
  font-size: 18px;
  text-align: center;
  color: #f9ff00;
}
.ticket-token-modal .modal-dialog {
  display: block;
}
.ticket-token-modal .inputRange-Box {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 30px;
  max-width: 100%;
}
.ticket-token-modal .ticket-to-token-popup h6 {
  font-size: 14px;
  text-align: center;
  color: white;
}

.ticket-token-modal .total.tickets {
  margin: 30px auto;
  width: fit-content;
  background: #f9ff00;
  padding: 10px 20px;
  border-radius: 50px;
}
.ticket-token-modal .input-range__track--active {
  background: #f9ff00 !important;
}
.ticket-token-modal .input-range__slider {
  background: #f9ff00 !important;
  border: 1px solid #f9ff00 !important;
}
.ticket-token-modal .min-max-value p {
  font-size: 13px;
  color: white;
}
.ticket-token-modal .confirm-btn button,
.ticket-token-modal .confirm-btn button:hover,
.ticket-token-modal .confirm-btn button:focus {
  background: #f9ff00 !important;
  color: black;
  border: 1px solid #f9ff00 !important;
  font-weight: 600;
  font-size: 14px;
  width: fit-content !important;
  min-width: 85px !important;
  width: fit-content;
  height: 35px;
}
.ticket-token-modal .input-range__label--value {
  display: none;
}
.ticket-token-modal .confirm-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.ticket-token-modal .modal-body {
  padding: 0 !important;
}
.ticket-token-modal .min-max-value button,
.ticket-token-modal .min-max-value button:hover,
.ticket-token-modal .min-max-value button:focus {
  background: #f9ff00;
  border: 1px solid #f9ff00;
  color: black;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 10px;
  width: fit-content !important;
  max-width: fit-content !important;
}
.ticket-token-modal .total.tickets h6 {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  color: #000;
}
.ticket-token-modal .ticket-to-token-popup h6 {
  font-size: 15px;
  text-align: center;
}
.ticket-token-modal .input-range {
  height: 1rem;
  position: relative;
  width: 94% !important;
  margin-left: 8px;
}

.ticket-token-modal .inputRangeSlider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ticket-token-modal span.input-range__label.input-range__label--min,
.ticket-token-modal span.input-range__label.input-range__label--max {
  display: none;
}
.ticket-token-modal .min-max-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ticket-token-modal .min-max-value p {
  margin: 0;
}
.tickets-token {
  margin-left: 0px;
}

.tickets-token .btn.disabled,
.tickets-token .btn:disabled,
.tickets-token fieldset:disabled .btn {
  background: #f9ff00;
  border-color: #f9ff00;
  color: #000;
}

.tickets-token button:focus,
.tickets-token button:active,
.tickets-token button:hover,
.tickets-token button,
.tickets-token .btn:first-child:active {
  display: flex;
  flex-direction: row;
  background: #f9ff00;
  color: #000;
  border-radius: 30px;
  border-color: #f9ff00;
  height: 38px;
  align-items: center;
}

.tickets-token button img {
  /* width: 45px; */
  height: 22px;
  object-fit: contain;
  margin-right: 5px;
}
.tickets-token button svg {
  margin: 0px 10px;
}

.tickets-token button span {
  font-weight: 600;
}
.headerMode-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  flex-wrap: wrap;
}
.slotLobby-mode {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  background-color: #000;
  overflow: hidden;
  max-width: 240px;
  width: 100%;
  border-radius: 30px;
  padding: 2px;
}

.goldCoin-labels,
.sweepToken-labels {
  position: relative;
}

.sweepToken-labels .form-check-inline,
.goldCoin-labels .form-check-inline {
  position: absolute;
  width: 100% !important;
}

.sweepToken-labels label.form-check-label,
.goldCoin-labels label.form-check-label {
  width: 100% !important;
}

.goldCoin-labels .goldCoin,
.sweepToken-labels .token {
  color: #f9ff00;
}

/* fjkhksdjhfkdhsfkhksdfhksdhfhsdjkh */
.slotLobby-mode form {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  justify-content: space-between;
}

.slotLobby-mode.goldCoin {
  border: 1px solid #f9ff00;
}

.slotLobby-mode.token {
  border: 1px solid #fa0000;
}

.slotLobby-mode.token form .purchase-btn {
  background: #fa0000;
  border: 1px solid #fa0000;
}

.slotLobby-mode.goldCoin form .purchase-btn {
  background: #f9ff00;
  border: 1px solid #f9ff00;
}

.slotLobby-mode form .purchase-btn {
  /* position: absolute;
  right: 0%; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  transition: all 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slotLobby-mode form .purchase-btn a {
  width: 22px;
  height: 22px;
  display: grid;
  place-content: center;
}
.slotLobby-mode form .purchase-btn svg {
  width: 22px;
  height: 22px;
  fill: #000;
}

.slotLobby-mode form input {
  background-color: #f9ff00 !important;
  border: 1px solid #f9ff00;
}

.slotLobby-mode img {
  width: 25px;
}

.slotLobby-mode .mode-labels {
  display: flex;
  flex-direction: row;
  gap: 6px;
  overflow: hidden;
  /* padding: 6px 30px; */
  border-radius: 30px;
  width: 100%;
}

.slotLobby-mode h6 {
  display: grid;
  place-content: center;
  margin: 0px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px;
  background: #151515;
  width: 100%;
  z-index: 0;
  border: 1px solid #fbff0000;
  white-space: nowrap;
}

.slotLobby-mode h6.goldLabel {
  padding: 6px 20px;
  text-align: right;
}

.slotLobby-mode h6.tokenLabel {
  padding: 6px 20px;
  text-align: left;
}

.slotLobby-mode h6.goldCoin,
.slotLobby-mode h6.token {
  z-index: 1;
  border: 1px solid #fbff00b7;
}

.slotLobby-mode p {
  font-size: 14px;
  padding-right: 24px;
  font-weight: 500;
  margin: 0px;
}

.slotLobby-mode .form-check {
  margin: 0px !important;
}

.slotLobby-mode .form-check-input {
  height: 30px;
}

.slotLobby-mode .form-check-input:checked {
  background-color: #fa0000 !important;
  border-color: #fa0000 !important;
}

.slotLobby-mode .form-switch .form-check-input {
  width: 60px;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

.slotLobby-mode label.form-check-label {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  width: calc(100% - 72px);
  cursor: pointer;
}

.slotLobby-mode .form-switch {
  padding-left: 0px !important;
  display: flex;
  align-items: center;
  gap: 12px;
}

.slotLobby-mode .custom-switch .custom-control-label::after {
  background-image: url("../../imgs/blackjack/goldCoin.png") !important;
  background-size: cover;
}

.slotLobby-mode .form-switch .form-check-input:focus {
  background-image: url("../../imgs/blackjack/goldCoin.png") !important;
  background-color: #f9ff00;
  box-shadow: 0 0 0 0.25rem rgba(253, 233, 13, 0);
}

.slotLobby-mode.token .custom-switch .custom-control-label::before {
  background-color: #fa0000 !important;
  border-color: #fa0000 !important;
}
.slotLobby-mode.goldCoin .custom-switch .custom-control-label::before {
  background-color: #f9ff00 !important;
  border: 1px solid #f9ff00;
}
.slotLobby-mode .form-switch .form-check-input:checked {
  background-position: right center;
  background-image: url("../../imgs/blackjack/sweep.png") !important;
}
input#custom-switch {
  cursor: pointer;
}
.slotLobby-mode.goldCoin form .purchase-btn {
  background: #f9ff00;
  border: 1px solid #f9ff00;
}
.pokerWallet-box {
  display: flex;
}

.slotLobby-mode input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
  position: absolute;
}


.slotLobby-mode label {
  cursor: pointer;
  text-indent: -9999px;
  width: 60px;
  height: 31px;
  background-color: #f9ff00 !important;
  border: 1px solid #f9ff00;
  display: block;
  border-radius: 100px;
  position: relative;
  margin: 0;
}

.slotLobby-mode label:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  background-image: url("../../imgs/blackjack/goldCoin.png") !important;
  background-color: #f9ff00;
  box-shadow: 0 0 0 0.25rem rgba(253, 233, 13, 0);
  background-size: contain;
}

.slotLobby-mode input:checked + label {
  background-color: #fa0000 !important;
  border-color: #fa0000;
}

.slotLobby-mode input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background-position: right center;
  background-image: url("../../imgs/blackjack/sweep.png") !important;
}
.slotLobby-mode span {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
}
/* .slotLobby-mode label:active:after {
	width: 130px;
} */





@media screen and (max-width: 1200px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media screen and (max-width: 991px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .userOnline-header:hover p.userOnline-tooltip {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .user-info-box {
    padding-right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  .user-header-grid {
    position: relative;
  }
  button.create-game-boxBtn {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .tickets-token {
    margin: 0;
    max-width: 200px;
  }
  .tickets-token button:focus,
  .tickets-token button:active,
  .tickets-token button:hover,
  .tickets-token button,
  .tickets-token .btn:first-child:active {
    height: 35px;
  }
  .create-game-box button{
    height: 35px;
    font-size: 12px !important;
  }
  button.create-game-boxBtn {
    position: absolute;
    top: 20px;
    right: 0;
  }
  .tickets-token button img {
    height: 19px;
    object-fit: contain;
    margin-right: 5px;
  }
  .pokerWallet-box span {
    font-size: 12px;
  }

  .pokerWallet-box {
    display: flex;
    align-items: center;
  }

  .pokerWallet-box img {
    margin: 0px !important;
    height: 14px !important;
    margin-right: 5px !important;
    width: fit-content !important;
  }

  .walletTicket-box {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .headerMode-container {
    margin: 10px 0px;
  }
  .slotLobby-mode span {
    font-size: 12px;
  }
  .slotLobby-mode {
    max-width: 200px;
  }
  .tickets-token button span {
    font-size: 12px;
  }
  .create-game-box a {
    display: none;
  }
  .no-room-available {
    padding: 30px;
  }

  .casino-popup .modal-body {
    padding: 1rem 1rem;
  }

  .casino-popup .modal-footer {
    padding: 1rem 1rem;
  }

  .home-poker-card-grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .poker-table-content {
    padding: 28px;
  }

  .user-header {
    margin-bottom: 30px;
  }

  .user-header-grid {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .create-game-box {
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 0px;
  }

  .backtoHome span {
    font-size: 16px;
    gap: 10px;
  }

  .backtoHome svg {
    width: 16px;
    height: 16px;
  }

  .lobby-home-title h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  /* .create-game-box a {
    position: absolute;
    top: 1%;
    right: 17%;
  } */
}

@media screen and (max-width: 520px) {
  .home-poker-card-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.css-12jo7m5 {
  font-size: 14px !important;
}

.poker-table-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.poker-tableSearch {
  max-width: 300px;
  position: relative;
  margin-bottom: 6px;
}

.poker-table-header .form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 22px;
  /* padding-right: 46px; */
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #eaeaea !important;
  background: #000 !important;
  border: 1px solid #1f1e1e !important;
  background-clip: padding-box;
  /* border: 1px solid #ced4da; */
  border-radius: 30px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.poker-table-header .form-control:active,
.poker-table-header .form-control:focus {
  box-shadow: 0 2px 10px rgba(45, 45, 45, 0.608) !important;
}

.poker-tableSearch button {
  background: #f9ff00;
  border-radius: 50%;
  font-weight: 500;
  border: 1px solid #f9ff00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 3.5px;
  right: 4px;
}

.sitinPopup-div {
  margin-bottom: 20px;
  padding: 0px 10px;
}

.errorMessage {
  text-align: left;
  font-weight: 600;
  color: #ff2f2f;
  font-size: 14px !important;
  padding-bottom: 0px !important;
  margin: 0px 10px !important;
}

@media screen and (max-width: 480px) {
  .no-room-available h4 {
    font-size: 20px;
  }

  .create-game-box button {
    font-size: 14px;
    padding: 8px 12px;
  }

  .user-info-box button {
    padding: 0px;
  }

  .create-game-box {
    position: initial;
    align-items: center;
    width: 100%;
    margin-top: 4px;
  }


  .poker-tableSearch {
    max-width: 200px;
  }

  .lobby-home-title h3::after {
    display: none !important;
  }
}